{{#ifEquals userTag "user"}}
  <h1>{{title}}</h1>
  <main>
    <p>User Name:{{user.firstName}} {{user.lastName}}</p>
    <p>Email ID:{{user.emailId}}</p>
    <p>Phone Number:{{user.contactInfo}}</p>
    <p>Age:{{user.age}}</p>
    <p>Gender:{{user.gender}}</p>
    <p>City:{{user.city}}</p>
    <p>State:{{user.state}}</p>
    <a class="w-20 btn btn-sm btn-primary" href="/account/edit/{{user._id}}">Edit Profile</a>
    <a class="w-20 btn btn-sm btn-primary" href="/account/remove/{{user._id}}">Delete Profile</a>
    <details>
      <summary>All Reservations</summary>
      <ul>
        {{#each reservations}}
          <li>Reservation for
            {{people}}
            people on the
            {{reservationDate}}
            at
            {{reservationTime}}</li>
        {{/each}}
      </ul>
    </details>
  </main>
{{/ifEquals}}
{{#ifEquals userTag "admin"}}
<h1>{{title}}</h1>
  <main>
    <p>User Name:{{user.firstName}} {{user.lastName}}</p>
    <p>Email ID:{{user.emailId}}</p>
    <p>Phone Number:{{user.contactInfo}}</p>
    <p>Age:{{user.age}}</p>
    <p>Gender:{{user.gender}}</p>
    <p>City:{{user.city}}</p>
    <p>State:{{user.state}}</p>
    <a class="w-20 btn btn-sm btn-primary" href="/account/edit/{{user._id}}">Edit Profile</a>
    <a class="w-20 btn btn-sm btn-primary" href="/account/remove/{{user._id}}">Delete Profile</a>
{{/ifEquals}}