<main>
  <div class="add-res">
    <h1>Edit restaurant</h1>
    <form
      method="POST"
      action="/admin/restaurant/edit/{{restaurant._id}}"
      id="editrestaurant-form"
    >
      <div class="form">
        <label for="name">Restaurant Name:</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Restaurant Name"
          value="{{restaurant.name}}"
        /><br />
      </div>
      <div class="form">
        <label for="emailId">Email ID:</label>
        <input
          type="text"
          id="emailId"
          name="emailId"
          placeholder="Email ID"
          value="{{restaurant.emailId}}"
        /><br />
      </div>
      <div class="form">
        <label for="contactInfo">Contact Info:</label>
        <input
          type="text"
          id="contactInfo"
          name="contactInfo"
          placeholder="Phone Number"
          value="{{restaurant.contactInfo}}"
        /><br />
      </div>
      <div class="form">
        <label for="description">Description:</label><br />
        <textarea
          id="description"
          name="description"
          placeholder="Describe your restaurant"
        >{{restaurant.description}}</textarea><br />
      </div>
      <div class="form">
        <label for="priceRange">Price Range:</label>
        <input
          type="text"
          id="priceRange"
          name="priceRange"
          placeholder="Approximate Price for 2"
          value="{{restaurant.priceRange}}"
        /><br />
      </div>
      <div class="form">
        <label for="category">Category:</label>
        <input
          type="text"
          id="category"
          name="category"
          placeholder="Category"
          value="{{restaurant.category}}"
        /><br />
      </div>
      <div class="form">
        <label for="address">Address:</label><br />
        <textarea
          type="text"
          id="address"
          name="address"
          placeholder="Street Address"
        >{{restaurant.address}}</textarea><br />
      </div>
      <div class="form">
        <label for="city">City:</label>
        <input
          type="text"
          id="city"
          name="city"
          placeholder="City"
          value="{{restaurant.city}}"
        /><br />

      </div>
      <div class="form">
        <label for="state">State:</label>
        <select id="state" name="state" required>
          <option
            value="{{restaurant.state}}"
            default
            selected
          >{{restaurant.state}}</option>
          <option value="New Jersey">New Jersey</option>
          <option value="New York">New York</option>
        </select>
      </div>
      <div class="form">
        <label for="zip">Zip:</label>
        <input
          type="text"
          id="zip"
          name="zip"
          placeholder="Zip Code"
          value="{{restaurant.zip}}"
        /><br />
      </div>
      <div class="form">
        <label for="latitude">Latitude:</label>
        <input
          type="text"
          id="latitude"
          name="latitude"
          placeholder="Latitude"
          value="{{restaurant.latitude}}"
        /><br />

        <label for="longitude">Longitude:</label>
        <input
          type="text"
          id="longitude"
          name="longitude"
          placeholder="Longitude"
          value="{{restaurant.longitude}}"
        /><br />
      </div>
      <div class="form">
        <label for="openingTime">Opening Time:</label>
        <input
          type="time"
          id="openingTime"
          name="openingTime"
          value="{{restaurant.openingTime}}"
        /><br />
      </div>
      <div class="form">
        <label for="closingTime">Closing Time:</label>
        <input
          type="time"
          id="closingTime"
          name="closingTime"
          value="{{restaurant.closingTime}}"
        /><br /><br />
      </div>
      <div class="form">
        <label for="TableFor2">Number of tables for 2:</label>
        <input type="number" id="TableFor2" name="TableFor2" /><br />
      </div>
      <div class="form">
        <label for="TableFor4">Number of tables for 4:</label>
        <input type="number" id="TableFor4" name="TableFor4" /><br />
      </div>
      <div class="form">
        <label for="TableFor6">Number of tables for 6:</label>
        <input type="number" id="TableFor6" name="TableFor6" /><br />
      </div>
      <div class="form">
        <label for="TableFor8">Number of tables for 8:</label>
        <input type="number" id="TableFor8" name="TableFor8" /><br />
      </div>
      <div class="form">
        <label for="TableFor10">Number of tables for 10:</label>
        <input type="number" id="TableFor10" name="TableFor10" /><br />
      </div>
      <button
        type="submit"
        class="w-20 btn btn-sm btn-success"
      >Confirm</button><a class="w-20 btn btn-sm btn-danger" href="/">Cancel</a>

    </form>
    <br />
    <div class="form-group hidden" id="error-container">
      <div class="text-goes-here">
      </div>
    </div>
    {{#if hasErrors}}
      <p class="alert alert-danger Error">{{error}}</p>
    {{/if}}
  </div>
</main>

<script src="../public/js/editrestaurantForm.js"></script>