<main>
    <div class="container">
        <h1>{{title}}</h1>
        <form method="POST" action='/register' id="userprofile-form">
            <div class="form">
                <label for='firstnameInput'>First Name:</label>
                <input id="firstnameInput" type="text" name='firstnameInput' placeholder="First Name" value="{{user.firstName}}">
            </div>
            <div class="form">
                <label for='lastnameInput'>Last Name:</label>
                <input id="lastnameInput" type="text" name='lastnameInput' placeholder="Last Name" value="{{user.lastName}}"><br>
            </div>
            <div class="form">
                <label for='emailId'>Email ID:</label>
                <input id="emailId" type="email" name='emailId' placeholder="Email ID" value="{{user.emailId}}"><br>
            </div>
            <div class="form">
                <label for='contactInfo'>Phone Number:</label>
                <input id="contactInfo" type="number" name='contactInfo' placeholder="Phone Number" value="{{user.contactInfo}}"><br>
            </div>
            <div class="form">
                <label for='age'>Age:</label>
                <input id="age" type="number" name='age' placeholder="Age" value="{{user.age}}"><br>
            </div>
            <div class="form">
                <p>Gender:</p>
                <input id="male" type="radio" name='gender' value="Male">
                <label for="male">Male</label><br>
                <input id="female" type="radio" name='gender' value="Female">
                <label for="female">Female</label><br>
                <input id="doNotWishToIdentify" type="radio" name='gender' value="Do Not Wish To Identify">
                <label for="doNotWishToIdentify">Do Not Wish To Identify</label><br>    
            </div>
            <div class="form">
                <label for='city'>City:</label>
                <input id="city" type="text" name='city' placeholder="City" value="{{user.city}}"><br>
            </div>
            <div class="form">
                <label for='state'>State:</label>
                <input id="state" type="text" name='state' placeholder="State" value="{{user.state}}"><br>
            </div>
            
            <button type="submit" class="btn">Confirm</button>
        </form>
        <br>
        {{#if hasErrors}}
            <p class="Error">{{error}}</p>
        {{/if}}
    </div>
</main>
<nav>  
    <ul>  
        <li><a href="/">Dashboard</a></li>  
        <li> <a href="/user/profile/{{user._id}}">Profile</a></li>    
    </ul>  
</nav>