<main class="container">
  <img src="{{restaurant.mainImage}}" alt="Restaurant Main Image" />
  <h1>{{restaurant.name}}</h1>

  <div class="list-group w-auto addSpaceRest">
    <div class="list-group-item d-flex gap-3 py-3" aria-current="true">

      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <p class="mb-0">Phone</p>
          <p class="mb-0 opacity-75">{{restaurant.contactInfo}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="list-group w-auto addSpaceRest">
    <div class="list-group-item d-flex gap-3 py-3" aria-current="true">

      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <p class="mb-0">Address</p>
          <p class="mb-0 opacity-75">{{restaurant.address}},
            {{restaurant.city}},
            {{restaurant.state}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="list-group w-auto addSpaceRest">
    <div class="list-group-item d-flex gap-3 py-3" aria-current="true">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <p class="mb-0">Price Range</p>
          <p class="mb-0 opacity-75">{{restaurant.priceRange}}$ for
            2(Approximately)</p>
        </div>
      </div>
    </div>
  </div>

  <div class="list-group w-auto addSpaceRest">
    <div class="list-group-item d-flex gap-3 py-3" aria-current="true">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <p class="mb-0">Rating</p>
          <p class="mb-0 opacity-75">{{restaurant.overallRating}}/5 points</p>
        </div>
      </div>
    </div>
  </div>

  <div class="list-group w-auto addSpaceRest">
    <div class="list-group-item d-flex gap-3 py-3" aria-current="true">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <p class="mb-0">About Restaurant</p>
          <p class="mb-0 opacity-75">{{restaurant.description}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="list-group w-auto addSpaceRest">
    <div class="list-group-item d-flex gap-3 py-3" aria-current="true">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <p class="mb-0">Restaurant Capacity</p>
          <p class="mb-0 opacity-75">{{restaurantCapacity}}</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row align-items-md-stretch addSpaceReserve">
    <div class="col-md-6">
      <p>Reserve a table now</p>
      {{#if tableCombinationSlots}}
        <form
          method="POST"
          action="/restaurant/{{restaurantId}}/addreservation"
          id="registration-form"
        >
          <p>Choose Table arrangements for {{date}} at {{time}}:</p>
          {{#each tableCombinationSlots}}
            <div class="form-group">

              <input
                type="radio"
                id="{{this}}"
                name="chosenCombination"
                value="{{this}}"
                required
              />
              <label for="{{this}}">Choose table of {{this}}</label>
            </div>
          {{/each}}
          <a href="/restaurant/{{restaurantId}}" class="submit-btn">Check
            another date</a>
          <div class="form-btn">
            <button class="submit-btn">Book</button>
          </div>
          <input type="hidden" id="date" name="date" value="{{date}}" />
          <input type="hidden" id="time" name="time" value="{{time}}" />
          <input type="hidden" id="guests" name="guests" value="{{guests}}" />

        </form>
      {{else}}
        <form
          method="POST"
          action="/restaurant/{{restaurantId}}"
          id="registration-form"
        >
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="date">Date</label>
                <input class="form-control" id="date" type="date" name="date" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="guests">No of Guests</label>
                <input
                  id="guests"
                  class="form-control"
                  name="guests"
                  type="number"
                  required
                />

              </div>
            </div>
          </div>
          <div>{{#each availabilityAll}}
              <input type="radio" id="{{this}}" name="time" value="{{this}}" />
              <label for="{{this}}">{{this}}</label>
            {{/each}}
          </div>

          <div class="form-btn">
            <button class="submit-btn">Check availability</button>
          </div>

        </form>
      {{/if}}

    </div>
    <div class="col-md-6">
      {{! map goes here }}
    </div>
  </div>
  {{#unless tableCombinationSlots}}
    {{! post reviews go here }}
    <div class="row align-items-md-stretch">
      <div class="col-md-6">

        <p>Post a New Review:</p>

        {{#if message}}
          <div
            class="alert alert-warning alert-dismissible fade show"
            role="alert"
          >
            <strong>Error!</strong>
            {{message}}
          </div>
          <div id="here"></div>
        {{/if}}

        <form
          action="/restaurant/{{restaurant._id}}/post-review"
          method="POST"
          id="review-form"
        >
          <div class="form-group">

            <label for="reviewTitleInput">Review Title:</label>
            <input
              class="form-control"
              id="reviewTitleInput"
              name="reviewTitleInput"
            />
          </div>
          <div class="form-group">

            <label for="reviewRatingInput">Rating: </label>
            <input
              class="form-control"
              id="reviewRatingInput"
              name="reviewRatingInput"
            />
          </div>
          <div class="form-group">

            <label for="reviewInput">Review: </label>
            <textarea
              class="form-control"
              name="reviewInput"
              id="reviewInput"
              rows="3"
              cols="70"
            ></textarea>
          </div>
          <button id="button" type="submit">Post</button>
        </form>
        <br />
      </div>
    </div>
    {{! reviews go here }}

    {{#if review}}
      <p>Reviews</p>
      {{#each review}}
        <div class="list-group w-auto">
          <div class="row align-items-md-stretch">
            <div class="col-md-6">
              <div
                class="list-group-item d-flex gap-3 py-3"
                aria-current="true"
              >
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <p class="mb-0">{{this.reviewerName}}
                      posted on
                      {{this.reviewDate}}
                    </p>
                    <p class="mb-0">{{this.rating}}/5.0</p>
                    <p class="mb-0 opacity-75">{{this.review}}</p>

                    <button
                      class="deleteReview btn btn-icon btn-danger"
                      type="button"
                      data-id="{{this._id}}"
                    >
                      Delete
                    </button>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}

    {{/if}}
  {{/unless}}
  <br />
</main>

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"
></script>
<script src="/public/js/main.js"></script>