<main class="container">
    <img src="{{restaurant.mainImage}}" alt="Restaurant Main Image" />
    <h1>{{restaurant.name}}</h1>

    <div class="list-group w-auto">
        <div class="list-group-item d-flex gap-3 py-3" aria-current="true">

            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Phone</h6>
                    <p class="mb-0 opacity-75">{{restaurant.contactInfo}}</p>
                </div>
            </div>
        </div>

        <div class="list-group w-auto">
            <div class="list-group-item d-flex gap-3 py-3" aria-current="true">

                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <h6 class="mb-0">Address</h6>
                        <p class="mb-0 opacity-75">{{restaurant.address}}, {{restaurant.city}},
                            {{restaurant.state}}</p>
                    </div>
                </div>
            </div>

            <div class="list-group w-auto">
                <div class="list-group-item d-flex gap-3 py-3" aria-current="true">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h6 class="mb-0">Price Range</h6>
                            <p class="mb-0 opacity-75">{{restaurant.priceRange}}</p>
                        </div>
                    </div>
                </div>

                <div class="list-group w-auto">
                    <div class="list-group-item d-flex gap-3 py-3" aria-current="true">
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <h6 class="mb-0">Reccomended by</h6>
                                <p class="mb-0 opacity-75">{{restaurant.overallRating}}%</p>
                            </div>
                        </div>
                    </div>

                    <div class="list-group w-auto">
                        <div class="list-group-item d-flex gap-3 py-3" aria-current="true">
                            <div class="d-flex gap-2 w-100 justify-content-between">
                                <div>
                                    <h6 class="mb-0">About Restaurant</h6>
                                    <p class="mb-0 opacity-75">{{restaurant.description}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="list-group w-auto">
                            <div class="list-group-item d-flex gap-3 py-3" aria-current="true">
                                <div class="d-flex gap-2 w-100 justify-content-between">
                                    <div>
                                        <h6 class="mb-0">Restaurant Capacity</h6>
                                        <p class="mb-0 opacity-75">{{restaurantCapacity}}</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row align-items-md-stretch">
                            <div class="col-md-6">
                                <h4>Reserve a table now</h4>
                                {{#if tableCombinationSlots}}
                                <form method="POST" action="/restaurant/{{restaurantId}}/addreservation"
                                    id="registration-form">
                                    <p>Choose Table arrangements for {{date}} at {{time}}:</p>
                                    {{#each tableCombinationSlots}}
                                    <div>

                                        <input type="radio" id="{{this}}" name="chosenCombination" value="{{this}}" />
                                        <label for="chosenCombination">Choose table of {{this}}</label>
                                    </div>
                                    {{/each}}
                                    <a href="/restaurant/{{restaurantId}}" class="submit-btn">Check another
                                        date</a>
                                    <div class="form-btn">
                                        <button class="submit-btn">Book</button>
                                    </div>
                                    <input type="hidden" id="date" name="date" value="{{date}}">
                                    <input type="hidden" id="time" name="time" value="{{time}}">

                                </form>
                                {{else}}
                                <form method="POST" action="/restaurant/{{restaurantId}}" id="registration-form">
                                    <div class="row">
                                        <div class="col-sm-6">

                                            <div class="form-group">
                                                <span class="form-label">Check In</span>
                                                <input class="form-control" type="date" name="date" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <span class="form-label">No of Guests</span>
                                                <input class="form-control" name="guests" type="number" required>
                                                <span class="select-arrow"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div>{{#each availabilityAll}}
                                        <input type="radio" id="{{this}}" name="time" value="{{this}}">
                                        <label for="time">{{this}}</label>
                                        {{/each}}
                                    </div>

                                    <div class="form-btn">
                                        <button class="submit-btn">Check availability</button>
                                    </div>

                                </form>
                                {{/if}}

                            </div>
                            <div class="col-md-6">
                                {{!-- map goes here --}}
                            </div>
                        </div>
</main>