<h1>{{title}}</h1>
<main>
    <p>Restaurant Name:{{restaurant.name}}</p>
    <p>Rating:{{restaurant.overallRating}}</p>
    <p>Category:{{restaurant.category}}</p>
    <p>Contact Info:{{restaurant.contactInfo}}</p>
    <p>Address:{{restaurant.address}}</p>
    <p>Gender:{{user.gender}}</p>
    <p>City:{{restaurant.city}}</p>
    <p>State:{{restaurant.state}}</p>
    <p>Zip:{{restaurant.zip}}</p>
    <p>Opening Time:{{restaurant.openingTime}}</p>
    <p>Closing Time:{{restaurant.closingTime}}</p>
    <p>Location: <a href="https://www.google.com/maps?q={{restaurant.latitude}},{{restaurant.longitude}}">Google Map</a></p>
</main>
<nav>  
    <ul>  
        <li><a href="/">Dashboard</a></li>  
        <li><a href="/user/profile/{{userId}}">Profile</a></li>    
    </ul>  
</nav>